<% include partials/header %>

<div class="ui centered block header">
  <h1>All blogs </h1>
</div>
<div class="ui link cards">
       <% blogs.forEach(function(blog){ %>
 <div class="card">
   <div class="image">
      <img src="<%= blog.image%>">
   </div>
   <div class="content">
       <a class="header" href="/blogs/<%=blog._id%>"><%= blog.name%></a>
        <div class="meta">
      </div>
     <div class="description">
         <p><%- blog.body.substring(0, 300) %>...</p>
     </div>
   </div>
   <div class="extra content">
     <span class="right floated">
       <%= blog.created.toDateString() %>
     </span>
     <span>
       <i class="calendar check outline icon"></i>
          </span>
   </div>
  </div>

 <% }) %>
</div>

<% include partials/footer %>
